<app-navbar></app-navbar>
<app-logo></app-logo>


<div class="wrapper">
  <div class="page-header">
    <div class="section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-6">
            <div class="row justify-content-between align-items-center">
            </div>
          </div>
          <div class="col-md-5">
            <h1 class="profile-title text-left">What We Offer</h1>
            <h1 class="text-on-back">01</h1>
            <p class="profile-description text-left">
              At WOOD we specialize in CrossFit, which is functional movement training. We combine metabolic
              conditioning with gymnastics and olympic lifts to help you become the fittest and strongest you can be.
            </p>
            <div class="btn-wrapper pt-3">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section 02 the coach profile -->
    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h1 class="profile-title text-left">Head Coach Audrey</h1>
          <h5 class="text-on-back">02</h5>
          <p class="profile-description">
            I'm from California. I live with my husband and our 5 billion dogs. I've been a CrossFit coach for almost a
            year, and have been doing CrossFit for over 5 years. CrossFit and software development are my life.
            I absolutely love Lord of the Rings and the MCU too. A little fun fact about me is that none of the
            benchmark numbers below are true.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Section 03 The contact us and footer -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="profile-title text-left">Contact us today!</h1>
              <h5 class="text-on-back">03</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Your Name </label>
                      <input class="form-control" type="text" value="John Smith" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Email address </label>
                      <input class="form-control" placeholder="johnsmith@email.com" type="email" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Phone </label>
                      <input class="form-control" type="text" value="(555) 555-5555" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Message </label>
                      <input class="form-control" placeholder="Please help me get swole!" type="text" />
                    </div>
                  </div>
                </div>
                <button class="btn btn-danger btn-round float-right" placement="right" type="submit">
                  Send Message
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 ml-auto">
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="tim-icons icon-square-pin"> </i>
            </div>
            <div class="description">
              <h4 class="info-title">CrossFit WOOD</h4>
              <!-- This is Crossfit HQ's address -->
              <p>
                7039 Bandley Drive, <br />

                Fountain, CO 80817 <br />
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="tim-icons icon-mobile"> </i>
            </div>
            <div class="description">
              <h4 class="info-title">Call or text us:</h4>
              <p>
                (719) 922-1404<br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
<app-carousel></app-carousel>
<app-footer></app-footer>
