<app-navbar></app-navbar>
<app-logo></app-logo>
<div class="wrapper">
  <div class="page-header">
    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-10 col-md-10 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="/assets/images/cf9.jpg" />
            </div>
            <div class="card-body">
                  <div class="table-responsive">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header"></th>
                          <th class="header">Sunday</th>
                          <th class="header">Monday</th>
                          <th class="header">Tuesday</th>
                          <th class="header">Wednesday</th>
                          <th class="header">Thursday</th>
                          <th class="header">Friday</th>
                          <th class="header">Saturday</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr> Class Times
                          <td>Closed / Take a Rest Day!</td>
                          <td>5am, 6:30am, 9am, 12pm, 4:30pm, 5:30pm, 6:30pm</td>
                          <td>5am, 6:30am, 9am, 12pm, 4:30pm, 5:30pm, 6:30pm</td>
                          <td>5am, 6:30am, 9am, 12pm, 4:30pm, 5:30pm, 6:30pm</td>
                          <td>5am, 6:30am, 9am, 12pm, 4:30pm, 5:30pm, 6:30pm</td>
                          <td>5am, 6:30am, 9am, 12pm, 4:30pm, 5:30pm, 6:30pm</td>
                          <td>9am, 10:30am </td>
                        </tr>
                        <tr> Events/Workouts
                          <td>Sunday Cookout!</td>
                          <td>DT</td>
                          <td>FRAN</td>
                          <td>MURPH</td>
                          <td>BEAR COMPLEX</td>
                          <td>GRACE</td>
                          <td>THE SEVEN</td>
                        </tr>
                        <tr> Work
                          <td>Bring Food!</td>
                          <td> 5 Rounds For Time
                            12 Deadlifts (155/105 lb)
                            9 Hang Power Cleans (155/105 lb)
                            6 Push Jerks (155/105 lb)</td>
                          <td>21-15-9 Reps For Time
                            Thrusters (95/65 lb)
                            Pull-Ups</td>
                          <td>For Time
                            1 mile Run
                            100 Pull-Ups
                            200 Push-Ups
                            300 Air Squats
                            1 mile Run
                            All with a Weight Vest (20/14 lb)</td>
                          <td>5 Rounds For Load
                            Complete 7 Unbroken Sets of this Barbell complex:
                            1 Power Clean
                            1 Front Squat
                            1 Push Press
                            1 Back Squat
                            1 Push Press</td>
                          <td>For Time
                            30 Clean-and-Jerks (135/95 lb)</td>
                          <td>7 Rounds For Time
                            7 Handstand Push-Ups
                            7 Thrusters (135/95 lb)
                            7 Knees-to-Elbows
                            7 Deadlifts (245/165 lb)
                            7 Burpees
                            7 Kettlebell Swings (2/1.5 pood)
                            7 Pull-Ups</td>
                        </tr>
                        <tr> Tutorials for this week:
                          <td></td>
                          <td><a href="https://www.youtube.com/watch?v=nwaJL0B2pt8" target="blank">DT</a></td>
                          <td><a href="https://www.youtube.com/watch?v=ix22fp-GXVg" target="blank">FRAN</a></td>
                          <td><a href="https://www.youtube.com/watch?v=Q7f_4SMe5wM" target="blank">MURPH</a></td>
                          <td><a href="https://www.youtube.com/watch?v=w_nBgT6bGI8" target="blank">BEAR COMPLEX</a></td>
                          <td><a href="https://www.youtube.com/watch?v=00BTassvGsM" target="blank">GRACE</a></td>
                          <td><a href="https://www.youtube.com/watch?v=bUv_2AHhkVM" target="blank">THE SEVEN</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
