 <div>
     <p id="mapfind">Find a gym near you!</p>
 <a id="maps" href="https://www.google.com/maps/place/Bethel+Church+Redding/@40.6098473,-122.3606155,17z/data=!3m2!4b1!5s0x54d292c1759fd729:0x8846b39a04335b38!4m5!3m4!1s0x54d292c1900af019:0x8584cc5a213e1fcb!8m2!3d40.6099082!4d-122.3581797">Search for nearby gyms!</a>
 </div>
 <div id="login1">
     <p id="login2">Login</p>
 
 <form>
    <label for="username">Username:</label><br>
    <input type="text" placeholder="Username"id="username" name="username"><br>
    <label for="pwd">Password:</label><br>
    <input type="password" placeholder="Password" id="pwd" name="pwd">
    <input type="submit"> 
</form>
  </div>
<div id="imgs">
    
 <span id="about">About Us!</span>  <span id="info">More Info!</span>  <span id="signup">Sign Up Today!</span>
    <br>
    <img id="p1"src="/assets/images/crossfit1.jpeg">
  <img id="p2"src="/assets/images/crossfit7.jpeg">
  <img id="p3"src="/assets/images/crossfit3.jpeg">
</div>
