<app-navbar></app-navbar>
<app-logo></app-logo>

<div class="card" style="width: auto;">
    <div class="card-header">
        Contact Us
    </div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6428.129888818551!2d-104.73543914820267!3d38.728497603803824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8713440b2e4d92a9%3A0x8bb6c0de11a17958!2sCrossFit%20Endemic!5e1!3m2!1sen!2sus!4v1631545414059!5m2!1sen!2sus"
  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Phone: (719)-418-5463</li>
        <li class="list-group-item"><Address>7039 Bandley Drive, Fountain, CO 80817</Address></li>
        <li class="list-group-item">Email: ctvaan@gmail.com</li>
    </ul>
</div>


<app-footer></app-footer>
