<app-navbar></app-navbar>
<app-logo></app-logo>

<section>
<div class="card" style="width: auto;">
    <h1>Pricing</h1>
    <h6>Membership</h6>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">$125 - Military, unlimited</li>
        <li class="list-group-item">$115 – Military, 3x week</li>
        <li class="list-group-item">$135 – Non-Military, unlimited</li>
        <li class="list-group-item">$125, Non-Military, 3x week</li>
        <li class="list-group-item">$95 – Punch Card, 10 visits</li>
        <li class="list-group-item">Married / Family – Ask about pricing</li>
    </ul>
    <div class="card-footer">
        Our monthly memberships do not carry with them any contractual requirement and are paid via auto bill-pay. With this
        convenience offered, emailed notice to ctvaan@gmail.com is required 15 days prior to the cancellation of your
        auto bill pay.
    </div>
</div>
</section>

<br>

<section>
<div class="card" style="width: auto;">
<h1>Getting Started</h1>
<div class="card-footer">
We offer 3 tracks in order to get started with us at CrossFit Endemic. Based on your sports and athletic history, as
well as your CrossFit experience, we may require that you complete a series of Personal Training sessions with on of our
qualified trainers, attend our Small Group Fundamentals program, or take part in a Test Out.
</div>
</div>
</section>

<br>

    <div class="card" style="width: auto;">
        <h1>Personal Training</h1>
        <div class="card-footer">
Personal training is offered to all members if they’re looking to improve upon certain skillsets or receive more in
depth 1-on-1 attention. It is also an option available to anyone interested in joining our gym! The attention provided
to athletes in a 1-on-1 session is unmatched, and this environment allows our personal trainers the opportunity to cater
the pace of learning and development to the individual athlete. Most new members choosing this track are ready to join
classes within 3 to 4 sessions with one of our certified trainers. Note: This track may be required for some depending
on previous history of injuries or health issues who are interested in starting CrossFit with us.
    </div>

<br>

<p style="color: red; font-style: italic;"> Due to COVID-19, we are NOT currently offering our small group fundamentals. All fundamentals are being conducted in a
personal training environment. They can be conducted individually OR simultaneously with close friends or family
members.</p>


<div class="card" style="width: auto;">
    <h1>Test Out</h1>
    <div class="card-footer">
Those with CrossFit experience, have the opportunity to Test Out of the On Ramp Program. We do a basic assessment on
form and how well the athlete knows the movements, as well as cater the session to the athletes needs in order to
correct movement faults. *Please note: It is at the discretion of the trainer on whether the athlete passes the
assessment. If not we may require the athlete to go through our On Ramp program.
<br>
<br>
Call (719)418-5463 or email ctvaan@gmail.com to set up a face to face consultation with us and get started
today!
<br>
<br>
Personal Training: $50 a session
Test Out: $50

</div>

<div class="card" style="width: auto;">
    <h1>Drop-In Rates</h1>
    <div class="card-footer">
If you’re visiting the Colorado Springs area and would like to drop in for a workout, we’d love to have you! Our drop-in
fee is only $20 a visit. Or, if you’d like to support our gym, you can purchase any of our Crossfit Endemic apparel and
the visit’s on us.
        <br>
        <br>
<p style="font-style: italic bold;">If you have any further questions, visit our <a [routerLink]="['/contact']">Contact Page</a> and drop us a line or give us a call at (719)922-1404.</p>
    </div>




<app-footer></app-footer>
