<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/home']"
        placement="bottom"
      >
        <h1>WOOD App</h1>

        <div class="row ">
 
          <a class=" col-sm text-white" [routerLink]="['/events']">
            <i class="tim-icons icon-image-02"> </i> Members Home
          </a>
        
          <a class=" col-sm text-white" [routerLink]="['/profile']">
            <i class="tim-icons icon-single-02"> </i> About Us
          </a>
        
          <a class=" col-sm text-white" [routerLink]="['/landing']">
            <i class="tim-icons icon-image-02"> </i> Membership Info
          </a>
        
          <a class=" col-sm text-white" [routerLink]="['/register']">
            <i class="tim-icons icon-bullet-list-67"> </i> Register Here
          </a>
        
        </div>


      </a>
        <button
          aria-controls="navigation-index"
          aria-label="Toggle navigation"
          class="navbar-toggler navbar-toggler"
          [attr.aria-expanded]="!isCollapsed"
          (click)="isCollapsed = !isCollapsed"
          id="navigation"
          type="button"
        >
          <span class="navbar-toggler-bar bar1"> </span>
          <span class="navbar-toggler-bar bar2"> </span>
          <span class="navbar-toggler-bar bar3"> </span>
        </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a> WOOD App </a>
          </div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button">
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a class="nav-link" href="https://twitter.com/CrossFit" placement="bottom" target="_blank" tooltip="Follow us on Twitter">
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.facebook.com/crossfit" placement="bottom" target="_blank"
            tooltip="Like us on Facebook">
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.instagram.com/crossfit" placement="bottom" target="_blank"
            tooltip="Follow us on Instagram">
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']"> Back to Home </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 <!-- Wrpper is for the whole next three sections -->
<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" /> 

    <img class="path" src="assets/img/path4.png" />

     <!-- section 01 has the picture slideshow and cf brief snippet -->
    <div class="section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-6">
            <div class="row justify-content-between align-items-center">
              <carousel [showIndicators]="false">
                <slide>
                  <img
                    alt="First slide"
                    class="d-block"
                    src="/assets/images/corssfit2.jpeg"
                  />
  
                  <div class="carousel-caption d-none d-md-block">
                    <h4>Become Stronger</h4>
                  </div>
                </slide>
                <slide>
                  <img
                    alt="Second slide"
                    class="d-block"
                    src="assets/images/crossfit1.jpeg"/>
  
                  <div class="carousel-caption d-none d-md-block">
                    <h4>Get Fitter</h4>
                  </div>
                </slide>
                <slide>
                  <img
                    alt="Third slide"
                    class="d-block"
                    src="assets/images/crossfit3.jpeg"/>
  
                  <div class="carousel-caption d-none d-md-block">
                    <h4>Improve Mobility</h4>
                  </div>
                </slide>
              </carousel>
            </div>
          </div>  
          <div class="col-md-5">
            <h1 class="profile-title text-left">What We Offer</h1>
            <h1 class="text-on-back">01</h1>
            <p class="profile-description text-left">
              At WOOD we specialize in CrossFit, which is functional movement training. We combine metabolic conditioning with gymnastics and olympic lifts to help you become the fittest and strongest you can be.
            </p>
            <div class="btn-wrapper pt-3">
              <button
                class="btn btn-simple btn-danger mr-1"
                href="javascript:void(0)"
                [routerLink]="'/register'"
              >
              Sign Up Today!
              </button>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <!-- Section 02 the coach profile -->
    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h1 class="profile-title text-left">Head Coach Audrey</h1>
          <h5 class="text-on-back">02</h5>
          <p class="profile-description">
          I'm from California. I live with my husband and our 5 billion dogs. I've been a CrossFit coach for almost a year, and have been doing CrossFit for over 5 years. CrossFit and software development are my life.
          I absolutely love Lord of the Rings and the MCU too. A little fun fact about me is that none of the benchmark numbers below are true. 
          </p>
          <div class="btn-wrapper profile pt-3">
            <a
              class="btn btn-icon btn-twitter btn-round mr-1"
              href="https://twitter.com/amazon__warrior"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-facebook btn-round mr-1"
              href="https://www.facebook.com/audreyclark23"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-instagram btn-round"
              href="https://instagram.com/amazonwarrior23"
              target="_blank"
            >
              <i class="fab fa-instagram"> </i>
            </a>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle"
                src="assets/img/Audrey.jpg"/>

              <h4 class="title">Workouts</h4>
            </div>
            <div class="card-body">
              <tabset class="nav-tabs-danger justify-content-center tab-subcategories">
                <tab heading="Benchmarks:">
                  <div class="table-responsive">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header">SQUAT</th>
                          <th class="header">CLEAN</th>
                          <th class="header">SNATCH</th>
                          <th class="header">DEADLIFT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>160</td>
                          <td>135</td>
                          <td>105</td>
                          <td>305</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- Section 03 The contact us and footer -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="profile-title text-left">Contact us today!</h1>
              <h5 class="text-on-back">03</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Your Name </label>
                      <input class="form-control" type="text" value="John Smith" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Email address </label>
                      <input
                        class="form-control"
                        placeholder="johnsmith@email.com"
                        type="email"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Phone </label>
                      <input
                        class="form-control"
                        type="text"
                        value="(555) 555-5555"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Message </label>
                      <input
                        class="form-control"
                        placeholder="Please help me get swole!"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn-danger btn-round float-right"
                  placement="right"
                  type="submit"
                >
                  Send Message
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 ml-auto">
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="tim-icons icon-square-pin"> </i>
            </div>
            <div class="description">
              <h4 class="info-title">CrossFit Relentless</h4>
              <!-- This is Crossfit HQ's address -->
              <p>
                2617 Broadway <br />

                Boulder, CO 80304 <br />
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="tim-icons icon-mobile"> </i>
            </div>
            <div class="description">
              <h4 class="info-title">Call or text us:</h4>
              <p>
                555-555-5555<br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="row">
          <div class="col-md-3">
            <h1 class="title">WOOD App</h1>
          </div>
          <div class="col-md-3">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']"> Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/landing']"> Login </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register']"> Sign Up </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/profile']"> About Us </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link"
                  href="https://betheltech.net/?refcode=77835784&gclid=CjwKCAjw1JeJBhB9EiwAV612y3ZFxm699TVDU_zS5C91WkHsAOXl5vZ4XiuFZMNAODdxLTnXwQutXRoCXEcQAvD_BwE">
                  Contact Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  href="https://betheltech.net/?refcode=77835784&gclid=CjwKCAjw1JeJBhB9EiwAV612y3ZFxm699TVDU_zS5C91WkHsAOXl5vZ4XiuFZMNAODdxLTnXwQutXRoCXEcQAvD_BwE">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  href="https://betheltech.net/?refcode=77835784&gclid=CjwKCAjw1JeJBhB9EiwAV612y3ZFxm699TVDU_zS5C91WkHsAOXl5vZ4XiuFZMNAODdxLTnXwQutXRoCXEcQAvD_BwE">
                  Blog
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="title">Follow us:</h3>
            <div class="btn-wrapper profile">
              <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://twitter.com/crossfit" target="_blank">
                <i class="fab fa-twitter"> </i>
              </a>
              <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.facebook.com/crossfit" target="_blank">
                <i class="fab fa-facebook-square"> </i>
              </a>
              <a class="btn btn-icon btn-neutral btn-round btn-simple" href="https://instagram.com/crossfit" target="_blank">
                <i class="fab fa-instagram"> </i>
              </a>
            </div>
          </div>
      </div>
    </div>
  </footer>
</div>
