<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']" placement="bottom">
                <span> WOOD </span> The all in One Crossfit app
            </a>
            <button aria-controls="navigation-index" aria-label="Toggle navigation"
                class="navbar-toggler navbar-toggler" [attr.aria-expanded]="!isCollapsed"
                (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
                <span class="navbar-toggler-bar bar1"> </span>
                <span class="navbar-toggler-bar bar2"> </span>
                <span class="navbar-toggler-bar bar3"> </span>
            </button>
        </div>
        <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand"><a> WOOD </a></div>
                    <div class="col-6 collapse-close text-right">
                        <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
                            [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation"
                            type="button">
                            <i class="tim-icons icon-simple-remove"> </i>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://twitter.com" placement="bottom" target="_blank"
                        tooltip="Follow us on Twitter">
                        <i class="fab fa-twitter"> </i>
                        <p class="d-lg-none d-xl-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://www.facebook.com" placement="bottom" target="_blank"
                        tooltip="Like us on Facebook">
                        <i class="fab fa-facebook-square"> </i>
                        <p class="d-lg-none d-xl-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://www.instagram.com" placement="bottom" target="_blank"
                        tooltip="Follow us on Instagram">
                        <i class="fab fa-instagram"> </i>
                        <p class="d-lg-none d-xl-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']"> Back to Home </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="page-header">
        <img class="dots" src="assets/img/dots.png" />

        <img class="path" src="assets/img/path4.png" />

        <div class="container align-items-center">
            <div class="row">
                <div class="col-lg-10 col-md-10 ml-auto mr-auto">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img class="img-center img-fluid" src="/assets/images/cf9.jpg" />
                        </div>
                        <div class="card-body">
                            <tabset class="nav-tabs-danger justify-content-center tab-subcategories">
                                <tab heading="Upcoming WOD's and Events">
                                    <div class="table-responsive">
                                        <table class="table tablesorter" id="plain-table">
                                            <thead class="text-danger">
                                                <tr>
                                                    <th class="header"></th>
                                                    <th class="header">Sunday</th> 
                                                    <th class="header">Monday</th>
                                                    <th class="header">Tuesday</th>
                                                    <th class="header">Wednesday</th>
                                                    <th class="header">Thursday</th>
                                                    <th class="header">Friday</th>
                                                    <th class="header">Saturday</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr> Class Times
                                                    <td>Closed/Rest</td>
                                                    <td>8-5</td>
                                                    <td>5-5</td>
                                                    <td>5-5</td>
                                                    <td>8-4</td>
                                                    <td>8-5</td>
                                                    <td>9-12</td>
                                                </tr>
                                                <tr> Events/Workouts
                                                    <td>Sunday Cookout!</td>
                                                    <td>DT</td>
                                                    <td>FRAN</td>
                                                    <td>MURPH</td>
                                                    <td>BEAR COMPLEX</td>
                                                    <td>GRACE</td>
                                                    <td>THE SEVEN</td>
                                                </tr>
                                                <tr> Work
                                                    <td>Bring Food!</td>
                                                    <td> 5 Rounds For Time
                                                    12 Deadlifts (155/105 lb)
                                                    9 Hang Power Cleans (155/105 lb)
                                                    6 Push Jerks (155/105 lb)</td>
                                                    <td>21-15-9 Reps For Time
                                                    Thrusters (95/65 lb)
                                                    Pull-Ups</td>
                                                    <td>For Time
                                                    1 mile Run
                                                    100 Pull-Ups
                                                    200 Push-Ups
                                                    300 Air Squats
                                                    1 mile Run
                                                    All with a Weight Vest (20/14 lb)</td>
                                                    <td>5 Rounds For Load
                                                    Complete 7 Unbroken Sets of this Barbell complex:
                                                    1 Power Clean
                                                    1 Front Squat
                                                    1 Push Press
                                                    1 Back Squat
                                                    1 Push Press</td>
                                                    <td>For Time
                                                    30 Clean-and-Jerks (135/95 lb)</td>
                                                    <td>7 Rounds For Time
                                                    7 Handstand Push-Ups
                                                    7 Thrusters (135/95 lb)
                                                    7 Knees-to-Elbows
                                                    7 Deadlifts (245/165 lb)
                                                    7 Burpees
                                                    7 Kettlebell Swings (2/1.5 pood)
                                                    7 Pull-Ups</td>
                                                </tr>
                                                <tr> Tutorials
                                                    <td>Closed/Rest</td>
                                                    <td><a href="https://www.youtube.com/watch?v=nwaJL0B2pt8" target="blank">DT</a></td>
                                                    <td><a href="https://www.youtube.com/watch?v=ix22fp-GXVg" target="blank">FRAN</a></td>
                                                    <td><a href="https://www.youtube.com/watch?v=Q7f_4SMe5wM" target="blank">MURPH</a></td>
                                                    <td><a href="https://www.youtube.com/watch?v=w_nBgT6bGI8" target="blank">BEAR COMPLEX</a></td>
                                                    <td><a href="https://www.youtube.com/watch?v=00BTassvGsM" target="blank">GRACE</a></td>
                                                    <td><a href="https://www.youtube.com/watch?v=bUv_2AHhkVM" target="blank">THE SEVEN</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="title">WOOD</h1>
                </div>
                <div class="col-md-3">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/home']"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/register']"> Register </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link"
                                href="https://betheltech.net/?refcode=77835784&gclid=CjwKCAjw1JeJBhB9EiwAV612y3ZFxm699TVDU_zS5C91WkHsAOXl5vZ4XiuFZMNAODdxLTnXwQutXRoCXEcQAvD_BwE">
                                Contact Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="https://betheltech.net/?refcode=77835784&gclid=CjwKCAjw1JeJBhB9EiwAV612y3ZFxm699TVDU_zS5C91WkHsAOXl5vZ4XiuFZMNAODdxLTnXwQutXRoCXEcQAvD_BwE">
                                About Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="https://betheltech.net/?refcode=77835784&gclid=CjwKCAjw1JeJBhB9EiwAV612y3ZFxm699TVDU_zS5C91WkHsAOXl5vZ4XiuFZMNAODdxLTnXwQutXRoCXEcQAvD_BwE">
                                Blog
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="title">Follow us:</h3>
                    <div class="btn-wrapper profile">
                        <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://twitter.com"
                            target="_blank">
                            <i class="fab fa-twitter"> </i>
                        </a>
                        <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.facebook.com"
                            target="_blank">
                            <i class="fab fa-facebook-square"> </i>
                        </a>
                        <a class="btn btn-icon btn-neutral btn-round btn-simple" href="https://instagram.com"
                            target="_blank">
                            <i class="fab fa-instagram"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>