<app-navbar></app-navbar>

<app-logo></app-logo>
<div class="container">
  <h4>Home</h4>
  <p>Crossfit WOOD started from humble beginnings during the pandemic of 2021. Now enjoying the benefits of
    a 5,000sq. ft. fully equipped gym staffed with qualified trainers and coaches, our focus continues to be on
    improving
    the health and fitness our members and community.
    <br>
    <br>
    At CrossFit WOOD we specialize in CrossFit, functional movement training and military conditioning. We are located
    in
    Fountain, CO and are proud to help in improving the lives of the community as well as military personnel from Fort
    Carson, Schriever and Peterson Air Force Base.
  </p>
</div>
<label class="form-label">Username</label>
    <input
          type="text"
          class="form-control"
          name="userName"
          required
          minlength="3"
          maxlength="20"
          [(ngModel)]= "getUser.email"
          />
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
  <input
    type="password"
    class="form-control"
    name="password"
    required
    minlength="6"
    [(ngModel)]= "getUser.password"
    />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Login</button>
  </div>
</form>
</div>

<app-footer></app-footer>
