<meta name="viewport" content="width=device-width, initial-scale=1.0">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand">WOOD</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register']">Register<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/pricing']">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']">Contact</a>
            </li>
        </ul>
    </div>
    </div>
</nav>


<form class="row g-3 needs-validation" novalidate style="margin: auto;">
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label" style="color: blue; font-size: large; font-weight: bold;">First name</label>
        <input type="text" class="form-control" id="validationCustom01" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustom02" class="form-label" style="color: blue; font-size: large; font-weight: bold;">Last name</label>
        <input type="text" class="form-control" id="validationCustom02" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label" style="color: blue; font-size: large; font-weight: bold;">Username</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend" style="color: blue; font-size: large; font-weight: bold;">Email</span>
            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                required>
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label for="validationCustom03" class="form-label" style="color: blue; font-size: large; font-weight: bold;">City</label>
        <input type="text" class="form-control" id="validationCustom03" required>
        <div class="invalid-feedback">
            Please provide a valid city.
        </div>
    </div>
    <div class="col-md-3">
        <label for="validationCustom04" class="form-label" style="color: blue; font-size: large; font-weight: bold;">State</label>
        <select class="form-select" id="validationCustom04" required>
            <option selected disabled value="">Choose...</option>
            <option>AK</option>
            <option>AL</option>
            <option>AR</option>
            <option>AZ</option>
            <option>CA</option>
            <option>CO</option>
            <option>CT</option>
            <option>DE</option>
            <option>FL</option>
            <option>GA</option>
            <option>HI</option>
            <option>IA</option>
            <option>ID</option>
            <option>IL</option>
            <option>IN</option>
            <option>KS</option>
            <option>KY</option>
            <option>LA</option>
            <option>MA</option>
            <option>MD</option>
            <option>ME</option>
            <option>MI</option>
            <option>MN</option>
            <option>MO</option>
            <option>MS</option>
            <option>MT</option>
            <option>NC</option>
            <option>ND</option>
            <option>NE</option>
            <option>NH</option>
            <option>NJ</option>
            <option>NM</option>
            <option>NV</option>
            <option>NY</option>
            <option>OH</option>
            <option>OK</option>
            <option>OR</option>
            <option>PA</option>
            <option>RI</option>
            <option>SC</option>
            <option>SD</option>
            <option>TN</option>
            <option>TX</option>
            <option>UT</option>
            <option>VA</option>
            <option>VT</option>
            <option>WA</option>
            <option>WI</option>
            <option>WV</option>
            <option>WY</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid state.
        </div>
    </div>
    <div class="col-md-3">
        <label for="validationCustom05" class="form-label" style="color: blue; font-size: large; font-weight: bold;">Zip</label>
        <input type="text" class="form-control" id="validationCustom05" required>
        <div class="invalid-feedback">
            Please provide a valid zip.
        </div>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>

<Section>
<div class="wrapper"></div>
</Section>


<footer class="footer navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">WOOD</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register']">Register<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/pricing']">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']">Contact</a>
            </li>
        </ul>
    </div>  
</footer>